/* CSS Document */
body {
    background-color: rgb(239,239,239);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.main-container {
    margin: 10px auto;
    padding: 15px;
    border: solid 1px rgba(0,0,0,0.2);
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);*/
    background-color: #FFF;
}

p.capital-letter::first-letter {
    display: block;
    float: left;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
}

span.capital-letter {
    display: block;
    float: left;
    font-size: 40px;
    color: #000;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
}

p:first-line {
}

p {
    text-align: justify;
    text-indent: 2.5em;
}

    p.inde {
        text-indent: 0em;
    }

    p > b {
        color: #e88337;
    }

/*HEADER*/
.container > header {
    display: block;
    margin: 0px;
    padding: 10px;
    min-height: 60px;
    background-color: #e85240;
    margin-bottom: 20px;
}

    .container > header p {
        font-size: 40px;
        color: #FFF;
        padding: 0px;
        margin: 0px;
        text-align: left;
    }

    .container > header h1 {
        text-align: center;
        font-weight: bold;
    }
/*BLOCK LIST*/
.comp {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    .comp > li {
        padding-left: 28px;
    }

        .comp > li > ul {
            padding: 10px 0px;
            list-style: none;
            margin: 0px;
            padding-bottom: 30px;
        }

            .comp > li > ul > li {
                padding: 1px;
                padding-left: 20px;
            }

.block-title {
    display: block;
    margin: 0px;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

/* BG COLORS */
.aqua-bg {
    background: rgba(0,159,142,1.00) !important;
}

.green-bg {
    background: rgb(129, 182, 40) !important;
}

.orange-bg {
    background: rgb(243, 146, 0) !important;
}

.darkorange-bg {
    background-color: rgb(216, 85, 9) !important;
}

.purple-bg {
    background-color: rgb(102, 35, 131) !important;
}

.purple-li-bg {
    background-color: rgb(238, 232, 245) !important;
}

.pink.red-bg {
    background-color: rgb(196, 4, 127) !important;
}

.cyan-bg {
    background: rgba(29,175,218,1.00) !important;
}

.blue-bg {
    background: rgb(0, 117, 191) !important;
}

.lime-bg {
    background-color: rgba(129,190,67,1.00) !important;
}

.lime-li-bg {
    background-color: rgb(247, 250, 238) !important;
}

.brown-bg {
    background-color: rgba(152,126,71,1.00) !important;
}

.light-blue-bg {
    background-color: rgb(221, 225, 226) !important;
}

.cream-bg {
    background-color: #ECE8DA !important
}

.turquoise-bg {
    background: #218CAE !important;
}

.skyblue-bg {
    background: #dfebf8 !important;
}

.lime-alt-bg {
    background: #85B200 !important;
}

.pink2-bg {
    background-color: #e85240 !important;
}
/* TEXT COLORS */
.blue-text {
    color: rgba(10,79,118,1.00);
}

.red-text {
    color: rgb(202, 44, 39);
}

.aqua-text {
    color: rgba(42,112,127,1.00);
}

.cyan-text {
    color: #0092ca !important;
}

.orange-text {
    color: rgba(234,137,44,1.00);
}

.white-text {
    color: #FFF;
}

.purple-text {
    color: rgba(93,42,122,1.00);
}

.yellow-text {
    color: #FFEB20;
}

.darkred-text {
    color: #B31E2C;
}

.darkgreen-text {
    color: #017002;
}

.pink-text {
    color: #f141a9;
}

.pink2-text {
    color: #e85240;
}

.darkBlue-text {
    color: #25408f !important;
}

.black-text {
    color: #000;
}
/* BORDER COLOR */
.cyan-border {
    border-color: #00b1bb !important;
}

.purple-border {
    border-color: rgb(155, 59, 142) !important;
}

.blue-border {
    border-color: rgb(1, 165, 158) !important;
}

.lime-border {
    border-color: rgba(129,190,67,1.00) !important;
}

.light-blue-border {
    border-color: rgba(195,218,224,1.00) !important;
}

.white-border {
    border-color: rgba(255,255,255,1.00) !important;
}

.brown-border {
    border-color: rgba(151,125,71,1.00) !important;
}

.orange-border {
    border-color: rgb(235, 98, 9) !important;
}

.yellow-border {
    border-color: rgb(247, 166, 0) !important;
}

tr.white-border, th.white-border {
    border-color: #FFF !important;
}

.black-border {
    border-color: #000;
}

.grey-border {
    border-color: grey !important;
}

.silver-border {
    border-width: 5px 5px 5px 5px !important;
    border-color: silver !important;
    border-style: outset !important;
}
/* TEXT STYLES*/
.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}
/* BLOCK TITLE INPAGE*/
.block-header {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: #FFF;
    background-color: rgb(165, 199, 21);
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    clear: both;
    border-radius: 15px;
    border: 3px outset #6f7072;
}

    .block-header > strong {
        display: block;
        float: right;
        height: 100%;
        line-height: normal;
        padding: 9px 9px;
        margin-left: 10px;
        clear: both;
        color: rgb(255, 255, 255);
        background-color: #739f35;
        border: 0px outset #6f7072;
        border-radius: 15px;
    }

        .block-header > strong > span {
            color: rgb(255, 255, 255);
        }

/*H TAGS*/
h1 {
    border: 5px solid #008d92;
    color: rgb(255, 255, 255);
    border-radius: 0px 50px 50px 0px;
    padding: 20px;
    font-weight: bold;
    background-color: #b9c705;
    text-align: center;
}

    h1 > span {
        font-weight: lighter;
        border-right: 0px;
        border-radius: 50px 0px 0px 50px;
        float: right;
    }

h2 > small {
    color: darkcyan;
    border-top: 1px solid #25408f;
    border-bottom: 1px solid #25408f;
    border-radius: 25px 0px 25px 25px;
    padding: 3px;
}

h3 {
    font-weight: lighter;
    color: #eb8123;
}

    h3 > small {
        color: darkcyan;
        border-top: 1px solid #25408f;
        border-bottom: 1px solid #25408f;
        border-radius: 25px;
        padding: 3px;
    }

h4 {
    background-color: rgb(0, 177, 187);
    color: white;
    padding: 5px;
    font-weight: bold !important;
    text-wrap: normal;
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    /*padding-left: 35px;*/
    margin-left: 40px;
    border: 3px outset rgb(188, 189, 193);
}

    h4 > span {
        float: left;
        margin-left: -22px;
        background-color: #0092ca;
        padding: 13px;
        border-radius: 50px;
        margin-left: -33px;
        margin-right: 13px;
        margin-top: -15px;
        border: 3px outset rgb(188, 189, 193);
    }

    h4.radius1 {
        border-radius: 5px 25px 25px 5px;
    }

    h4.actMot {
        border-radius: 5px;
        color: #00b1c0;
        font-weight: bold !important;
        background-color: rgb(224, 241, 243);
        border: 1px solid rgb(12, 175, 204);
        padding: 5px;
    }

        h4.actMot > span {
            background-color: rgb(12, 175, 204) !important;
        }

    h4.acrApre {
        width: auto;
        background-color: transparent;
        color: #1ab8bf;
        border: none;
    }

        h4.acrApre > span {
            border: 3px outset rgb(155, 59, 142);
            background-color: rgb(224, 241, 243) !important;
            color: #6b74a9;
        }

.lad h4 {
    width: auto;
    background-color: #00b1bb !important;
    border: 2.5px solid #005182 !important;
    border-radius: 50px 50px 0px 0px;
    margin-bottom: 0px;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
    font-weight: bold !important;
    text-align: center;
}

    .lad h4 > span {
        float: right;
        background-color: #ffffff !important;
        border: 2.5px solid #005182 !important;
        color: #007d8a;
        margin-top: -21px;
    }

.lad div {
    border: 2.5px solid #005182 !important;
    border-radius: 0px 0px 10px 10px;
    margin-top: 3px;
    padding: 5px;
    color: dimgrey;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.lad2 {
    margin-left: 20px;
}

    .lad2 h4 {
        width: 250px;
        background-color: #283583 !important;
        border: 3px outset rgb(188, 189, 193) !important;
        border-radius: 0px 20px 0px 0px;
        margin-bottom: 0px;
        color: #ffffff;
        margin: 0px;
        padding: 10px;
        font-weight: bold !important;
        text-align: center;
    }

        .lad2 h4 > span {
            float: left;
            background-color: #259579 !important;
            border: 3px outset rgb(188, 189, 193) !important;
            color: rgb(224, 241, 243);
            margin-top: -21px;
            font-size: larger;
        }

    .lad2 div {
        width: 300px;
        border: 3px outset rgb(188, 189, 193) !important;
        background-color: #00b0b9 !important;
        border-radius: 20px;
        padding: 7px;
        color: dimgrey;
        margin-left: -25px;
        margin-right: 0px;
    }

        .lad2 div p {
            background-color: #e0f0f2 !important;
            border: 3px outset rgb(188, 189, 193) !important;
            border-radius: 20px;
            padding: 7px;
        }

.lad3 {
    margin-left: 20px;
}

    .lad3 h4 {
        width: 250px;
        background-color: #8ab725 !important;
        border: 3px outset rgb(188, 189, 193) !important;
        border-radius: 0px 20px 0px 0px;
        margin-bottom: 0px;
        color: #ffffff;
        margin: 0px;
        padding: 10px;
        font-weight: bold !important;
        text-align: center;
    }

        .lad3 h4 > span {
            float: left;
            background-color: #b9c705 !important;
            border: 3px outset rgb(188, 189, 193) !important;
            color: rgb(224, 241, 243);
            margin-top: -21px;
            font-size: larger;
        }

    .lad3 div {
        width: 300px;
        border: 3px outset rgb(188, 189, 193) !important;
        background-color: #6e257a !important;
        border-radius: 20px;
        padding: 7px;
        color: dimgrey;
        margin-left: -25px;
        margin-right: 0px;
    }

        .lad3 div p {
            background-color: #e0f0f2 !important;
            border: 3px outset rgb(188, 189, 193) !important;
            border-radius: 20px;
            padding: 7px;
        }

h4.acrApreGree {
    /*width: auto;*/
    background-color: #b9c705 !important;
    color: #ffffff;
}

    h4.acrApreGree > span {
        background-color: #b9c705 !important;
    }

h4.Situac {
    /*width: auto;*/
    background-color: #b9c705 !important;
    color: #ffffff;
}

    h4.Situac > span {
        background-color: #b9c705 !important;
    }

h4.acrApreRed {
    /*width: auto;*/
    background-color: #e62535 !important;
    color: #ffffff;
}

    h4.acrApreRed > span {
        background-color: #e62535 !important;
    }

h4.proyecto {
    background-color: #323f89 !important;
    color: #ffffff;
}

    h4.proyecto > span {
        background-color: #739528 !important;
    }

h4.sumativa {
    background-color: #6e257a !important;
    color: #ffffff;
}

    h4.sumativa > span {
        background-color: #b6dfea !important;
    }

h4.acrApreOrange {
    /*width: auto;*/
    background-color: rgba(234,137,44,1.00) !important;
    color: #ffffff;
}

    h4.acrApreOrange > span {
        background-color: rgba(234,137,44,1.00) !important;
    }

h4.objetiva {
    /*width: auto;*/
    background-color: #007d8a !important;
    color: #ffffff;
}

    h4.objetiva > span {
        background-color: #007d8a !important;
    }

h4.cyan-act {
    /*width: auto;*/
    background-color: #00b0b9 !important;
    color: #ffffff;
}

    h4.cyan-act > span {
        background-color: #38aaa5 !important;
        border: 3px outset rgb(188, 189, 193);
    }

h4.contexto {
    /*width: auto;*/
    background-color: #007d8a !important;
    color: #ffffff;
}

    h4.contexto > span {
        background-color: #007d8a !important;
    }

h4.lectf {
    /*width: auto;*/
    background-color: #e6312b !important;
    color: #ffffff;
}

    h4.lectf > span {
        border: 3px outset rgb(188, 189, 193);
        background-color: rgb(2, 103, 138) !important;
    }

h4.saberes {
    /*width: auto;*/
    background-color: #007d8a !important;
    color: #ffffff;
}

    h4.saberes > span {
        background-color: #007d8a !important;
    }

h4.planea {
    background-color: #0065a4 !important;
    color: #ffffff;
}

    h4.planea > span {
        background-color: #0065a4 !important;
    }

h4.evaDiag {
    background-color: rgb(236, 130, 35) !important;
    color: #ffffff;
}

    h4.evaDiag > span {
        background-color: #e85240 !important;
    }

h4 > p {
    float: right;
}

h4, h3 {
    font-weight: lighter;
    margin-bottom: 14px;
    display: block;
}

h2 {
    padding: 0px 0px;
    line-height: 45px;
    color: #006a75;
    font-weight: 400;
}
    /*h2>.glyphicon{ background-color:rgba(23,75,128,1.00); display:block; float:left; margin:0px; padding:0px; height:100%; min-width:44px; text-align:center; line-height:45px;; top:0px; margin-right:10px; clear:both; color:#FFF;} */
    /*h2 > span {
        border: 5px dotted rgba(42,112,127,1.00) !important;
    }

    h2 > .glyphicon {
        /*background-color: rgba(0,0,0,0.35);*/
    /*display: block;
        float: left;
        margin: 0px;
        padding: 0px;
        height: 100%;
        min-width: 44px;
        text-align: center;
        line-height: 45px;
        top: 0px;
        margin-right: 10px;*/
    /*clear: both;*/
    /*color: #FFF;*/
    /*border-radius: 25px;*/
    /*border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;*/
    /*background-color: rgba(124,171,65,1.00);*/

    h2:after {
        content: '';
        clear: both;
    }

h5 {
    /*font-weight: normal;*/
    margin-left: 14px;
}

    h5:before {
        content: '';
        margin-left: -14px;
        margin-right: 8px;
        line-height: inherit;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid green;
        display: inline-block;
    }

    h5 > b {
        color: rgba(50,130,154,1.00);
    }

/* LIST STYLES */
ul {
    list-style: none;
    padding-left: 0px;
}

    ul.with-margin {
        margin-left: 14px;
    }

li {
    padding-left: 22px;
}

    li > b {
        float: left;
        margin-left: -22px;
    }

ul > li > b {
    color: rgb(5, 146, 202);
}

ul.dark > li > b {
    color: rgb(230, 0, 125);
}

.main-container > ul {
    padding: 0px;
}

ul.no-padding {
    padding: 0px;
    list-style: none;
}

li {
    margin-top: 7px;
    margin-bottom: 7px;
}

ul.has-bullet > li {
    background-position: left 7px;
    background-repeat: no-repeat;
    background-image: url(../content/images/bullet.png);
    background-size: 8px;
}

ul.has-arrow > li {
    background-position: left 7px;
    background-repeat: no-repeat;
    background-image: url(../content/images/arrow.png);
    background-size: 8px;
}

ul.triple-column {
    column-count: 3;
}

/* TABLE STUFF*/
table {
    border-collapse: collapse;
    border: solid 1px;
}

tr {
    border-collapse: collapse;
    border: solid 1px;
    border-color: inherit;
}

th, td {
    border: solid 1px;
    border-color: inherit;
    padding: 2px 5px;
    height: 28px;
}

th {
    text-align: inherit;
}

td {
    vertical-align: text-top;
}

    td.vcenter {
        vertical-align: middle;
    }

    td.space {
        padding-left: 22px;
    }

/* MISC*/
.container-proj {
    padding: 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article {
    display: block;
    margin: 4px auto;
    background: rgba(209,203,191,1.00);
    border-top: solid 5px rgba(234,137,44,1.00);
    border-bottom: solid 5px rgba(234,137,44,1.00);
    padding: 10px 15px;
}

    article > p {
        margin: 0px;
    }

.note {
    display: block;
    margin: 10px 0px;
    background-color: rgba(243,236,223,1.00);
    padding: 7px 14px;
}

    .note q {
        text-align: right;
        display: block;
    }

    .note.alt {
        background-color: rgba(242,246,227,1.00) !important;
    }

.know-box {
    display: block;
    margin: 5px auto;
    max-width: 820px;
    color: #FFF;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    margin-bottom: 18px;
    margin-top: 20px;
}

    .know-box > p {
        padding: 5px;
        margin: 0px;
    }

    .know-box > .box-title {
        position: relative;
        height: 34px;
        line-height: 34px;
        padding: 0px 5px;
    }

        .know-box > .box-title::before {
            content: '';
            clear: both;
            display: block;
            float: left;
            width: 10px;
            height: 34px;
            margin-left: -5px;
            margin-top: 0px;
            margin-right: 5px;
            background-color: rgba(0,132,180,1.00);
        }

        .know-box > .box-title > .glyphicon {
            text-align: right;
            color: #FFF;
            font-size: 16px;
            position: absolute;
            right: 8px;
            top: 9px;
        }

    .know-box > .box-body {
        padding-top: 4px;
        font-weight: normal;
        color: rgba(65,65,65,1.00);
        background-color: rgba(240,240,224,1.00);
        border-bottom: solid 2px rgba(0,132,180,1.00);
    }

.img-block {
    margin-bottom: 20px;
    display: block;
}

.separate {
    margin-top: 30px;
}

/* MULTIMEDIA USE*/
.img-responsive {
    margin: 14px auto;
    max-height: 530px;
    max-width: 800px;
    width: 100%;
}

img[data-zoomable] {
    cursor: pointer;
}

video {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 14px auto;
}

/****** BUTTONS SECTION GENERIC ******/
.button-container {
    display: block;
    text-align: right;
    clear: both !important;
    margin-top: 15px;
}

.button {
    line-height: 20px;
    padding: 10px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    height: auto;
    display: inline-block;
}

.button-container .button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button-container .button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button + .button {
    border-left: solid 1px rgba(255,255,255,0.20);
}

.button-primary {
    background-color: #6D9C36;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

    .button-primary:hover {
        background-color: #327931 !important;
        color: #FFFFFF;
        text-decoration: none;
    }

.button-default {
    background-color: #005D8A;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

    .button-default:hover {
        background-color: #00365A !important;
        color: #FFFFFF;
        text-decoration: none;
    }

div[data-toggle="btn-radio"] {
    margin: 0 auto;
    text-align: center;
}

    div[data-toggle="btn-radio"] > button {
        display: inline-block;
        line-height: 24px;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        color: #FFFFFF;
        background: #cecece;
        outline: none;
    }

        div[data-toggle="btn-radio"] > button:hover {
            background: #3cb0fd;
        }

        div[data-toggle="btn-radio"] > button:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        div[data-toggle="btn-radio"] > button:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        div[data-toggle="btn-radio"] > button + button {
            border-left: solid 1px #BBBBBB;
        }

.checked {
    background: #0b9e29 !important;
}

div[data-toggle="btn-radio"].inline {
    display: inline-block !important;
    float: right !important;
}

.level {
    display: block;
    text-align: right;
    height: 34px;
    max-height: 34px;
    overflow-y: hidden;
}

    .level > .holder {
        vertical-align: bottom;
        display: inline-block;
        margin-right: 6px;
        line-height: 12px;
        font-weight: lighter;
        letter-spacing: 1px;
    }

    .level > span {
        display: inline-block;
        background-color: #BFC0BF;
        vertical-align: bottom !important;
        padding: 0px 5px;
        margin: 0px 1px;
        font-size: 10px;
        color: #FFFFFF;
    }

        .level > span.active {
            background-color: #005D89;
        }

/* INTERACTIVE STUFF */
p[contenteditable=true], p.fake-editable {
    resize: none; /* disable resizing */
    text-indent: 0px;
    min-height: 26px;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    line-height: 26px;
    position: relative;
    border: none;
    color: #0333FF;
    background: -webkit-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.0) 4%) 0 49px;
    background: -moz-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    background: linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    -webkit-background-size: 100% 26px;
    -moz-background-size: 100% 26px;
    -ms-background-size: 100% 26px;
    background-size: 100% 26px;
    vertical-align: top;
}

span[contenteditable=true] {
    resize: none; /* disable resizing */
    text-indent: 0px;
    min-height: 26px;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    line-height: 26px;
    position: relative;
    border: none;
    color: #0333FF;
    background: -webkit-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.0) 4%) 0 49px;
    background: -moz-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    background: linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    -webkit-background-size: 100% 26px;
    -moz-background-size: 100% 26px;
    -ms-background-size: 100% 26px;
    background-size: 100% 26px;
    vertical-align: top;
}

[data-hint]:empty:before {
    content: attr(data-hint);
    color: #6B6B6B;
    float: left;
    display: block;
}

p[data-init-with]:before {
    content: attr(data-init-with);
    color: #6B6B6B;
    float: left;
    margin-right: 4px;
    display: block;
}

.double-line {
    min-height: 52px !important;
}

.triple-line {
    min-height: 78px !important;
}

.many-line {
    min-height: 156px !important;
}

.glossary-word {
    color: rgba(22,142,0,1.00);
    cursor: pointer;
    text-decoration: none;
}

.popup-container {
    display: block;
    position: fixed;
    z-index: 999999;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.38);
}

.popup-window {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    color: rgba(69,69,69,1.00);
    height: auto;
    margin: 0px auto;
    background: rgba(255,255,255,1.00);
    border-top: solid 5px rgba(234,137,44,1.00);
    border-bottom: solid 5px rgba(234,137,44,1.00);
    padding: 10px 15px;
    max-width: 880px;
}

.popup-title {
    display: block;
    line-height: 30px;
    color: rgba(42,112,127,1.00);
    font-weight: bold;
    margin: 0px;
}

.popup-body {
    display: block;
    margin: 0px;
}

.popup-copy {
    display: block;
    cursor: pointer;
    top: -24px;
    right: 0px;
    padding: 2px 9px;
    position: absolute;
    background-color: rgba(234,137,44,1.00);
    color: #FFF;
    border-top-left-radius: 5px;
    text-decoration: none;
}

    .popup-copy:hover {
        text-decoration: none;
        color: #EEEEEE;
    }

span.arrow-up {
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 10.4px 6px;
    border-color: transparent transparent #ffffff transparent;
}

span.arrow-down {
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
}

/**/

article {
    display: block;
}

    article > p {
        margin: 0px;
    }

.hide-me {
}
/*USEFUL  FOR NOT SHOWING ON NOTEBOOK */

/**/

ul[class^='has-'] li {
    position: relative;
    padding-left: 18px;
}

    ul[class^='has-'] li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }

ul.has-White > li:before {
    background: #fff;
}

ul.has-pink > li:before {
    background: #ef436c;
}

ul.has-blue li:before {
    background: #0072bc;
}

ul.has-red li:before {
    background: #de2921;
}

ul.has-aqua li:before {
    background: #2daea6;
}

ul.has-purple li:before {
    background: #6553a2;
}

ul.has-rose li:before {
    background: #ba519f;
}

ul.has-orange li:before {
    background: #F36F21;
}

ul.has-green > li:before {
    background: #5cb85c;
}

ul.b-red > li > b {
    color: #ED1A3B;
}

ul.b-pink > li > b {
    color: #ef436c;
}

ul.b-orange > li > b {
    color: #F36F21;
}

ul > li > ul.b-blue > li > b {
    color: #0092cb !important;
}

@media only screen and (max-width: 767px) {
    .main-container {
        margin: 0px !important;
        border: none;
        clear: both;
    }

    .block-header {
        height: auto;
        text-align: center;
        margin-bottom: 10px;
        display: block !important;
        border-radius: 15px 15px 5px 5px;
    }

        .block-header > strong {
            float: right;
            margin-left: 10px;
            clear: both;
            width: 100%;
            border: 3px outset #6f7072;
            border-top: none;
            border-radius: 0px 0px 15px 15px;
        }
}

@media only screen and (max-width: 440px) {
    ul.triple-column {
        column-count: 1;
    }

    ul.five-column {
        column-count: 1;
    }
}

.darkBlue-bg {
    background-color: #2a6563 !important;
}

.white-bg {
    background-color: #ffffff;
}

.GFG {
    color: white;
    font-size: 50px;
    Text-shadow: rgb(155, 59, 142) 4px 0px 0px, rgb(155, 59, 142) 3.87565px 0.989616px 0px, rgb(155, 59, 142) 3.51033px 1.9177px 0px, rgb(155, 59, 142) 2.92676px 2.72656px 0px, rgb(155, 59, 142) 2.16121px 3.36588px 0px, rgb(155, 59, 142) 1.26129px 3.79594px 0px, rgb(155, 59, 142) 0.282949px 3.98998px 0px, rgb(155, 59, 142) -0.712984px 3.93594px 0px, rgb(155, 59, 142) -1.66459px 3.63719px 0px, rgb(155, 59, 142) -2.51269px 3.11229px 0px, rgb(155, 59, 142) -3.20457px 2.39389px 0px, rgb(155, 59, 142) -3.69721px 1.52664px 0px, rgb(155, 59, 142) -3.95997px 0.56448px 0px, rgb(155, 59, 142) -3.97652px -0.432781px 0px, rgb(155, 59, 142) -3.74583px -1.40313px 0px, rgb(155, 59, 142) -3.28224px -2.28625px 0px, rgb(155, 59, 142) -2.61457px -3.02721px 0px, rgb(155, 59, 142) -1.78435px -3.57996px 0px, rgb(155, 59, 142) -0.843183px -3.91012px 0px, rgb(155, 59, 142) 0.150409px -3.99717px 0px, rgb(155, 59, 142) 1.13465px -3.8357px 0px, rgb(155, 59, 142) 2.04834px -3.43574px 0px, rgb(155, 59, 142) 2.83468px -2.82216px 0px, rgb(155, 59, 142) 3.44477px -2.03312px 0px, rgb(155, 59, 142) 3.84068px -1.11766px 0px, rgb(155, 59, 142) 3.9978px -0.132717px 0px;
}

.fgf {
    color: #a42381;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 3px 15px rgba(0,0,0,0.77);
}

table.fontnum {
    margin-top: 60px;
    margin-left: 20px;
}

    table.fontnum th {
        font-size: 33px;
        font-style: italic;
        font-weight: 900;
        padding: 0px !important;
        border: 0px !important;
    }

ul > li > ul > li > b {
    color: rgb(236, 0, 139) !important;
}

.der1 {
    /*position: relative;*/
    width: 100%;
    height: 800px;
    background-image: url('../content/pictures/momentsbook36.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

/*img {
    min-width: 80% !important;
    max-width: 90% !important;
    margin-left: 10% !important;
}*/

#taskJ ul.dark.shadow {
    border-radius: 25px;
    padding: 5%;
}

.purple-border {
    border-color: rgb(155, 59, 142) !important;
}

.red-border {
    border-color: rgb(189, 29, 0) !important;
}

.blue-border {
    border-color: rgb(1, 165, 158) !important;
}

.pink-border {
    border-color: #f141a9 !important;
}

.pink-text {
    color: #f141a9;
}

.english-note {
    background-color: #fffac1;
    padding: 3%;
}

p > img {
    max-height: 39px !important;
    max-width: auto;
    min-width: auto;
    margin: 0px;
}

p.raiz > img, p span.raiz > img {
    max-height: 23px !important;
    max-width: auto;
    min-width: auto;
    margin: 0px;
}

p.raiz2 > img {
    max-height: 39px !important;
    max-width: auto;
    min-width: auto;
    margin: 0px;
}

p.raiz3 > img {
    max-height: 49px !important;
    max-width: auto;
    min-width: auto;
    margin: 0px;
}

p.formula1 > img {
    max-height: 100px !important;
    max-width: auto;
    min-width: auto;
    margin: 0px;
}

p.formula2 > img {
    max-height: 150px !important;
    max-width: auto;
    min-width: auto;
    margin: 0px;
}

.img64 img {
    min-width: 60%;
    max-width: 90% !important;
    /*margin-left: 15%;*/
}

@media only screen and (max-width: 767px) {
    p > img {
        max-height: 39px !important;
        max-width: auto !important;
        min-width: auto !important;
        margin: 0px;
    }

    .img64 img {
        min-width: 60%;
        max-width: 70% !important;
        margin-left: 20%;
    }

    h4.acrApre > p, h4 > p {
        font-size: small;
    }
}

@media only screen and (max-width: 520px) {
    p > img {
        max-height: 39px !important;
        max-width: auto !important;
        min-width: auto !important;
        margin: 0px;
    }

    .img64 img {
        min-width: 80% !important;
        max-width: 100% !important;
        margin-left: 0% !important;
    }

    h4 {
        width: 80%;
        padding-bottom: 25px;
    }

    h5.subt {
        width: 90% !important;
        margin-left: 5% !important;
        padding: 5px;
    }
}

h5 {
    font-weight: bold;
    margin-left: 0px;
}

    h5 > b {
        color: #EA8D42 !important;
    }

    h5:before {
        content: '';
        display: none !important;
    }

.yellow-bg {
    background-color: #e99a1c;
}

.red-bg {
    background-color: #ea525f;
}

span[contenteditable=true].inline {
    min-width: 50px;
    resize: none;
    display: inline-block;
    text-indent: 0px;
    margin: 0px;
    height: inherit;
    line-height: inherit;
}

span[contenteditable=true].short {
    text-align: center;
    min-width: 50px;
    resize: none;
    display: inline-block;
    text-indent: 0px;
    margin: 0px;
    height: inherit;
    line-height: inherit;
    max-height: 40px
}

span[contenteditable=true].medium {
    text-align: center;
    min-width: 120px;
    resize: none;
    display: inline-block;
    text-indent: 0px;
    margin: 0px;
    height: inherit;
    line-height: inherit;
    max-height: 40px
}

.column {
    column-count: 2;
}

.col-2 {
    column-count: 2;
}

.col-3 {
    column-count: 3;
}

.col-4 {
    column-count: 4;
}

.col-5 {
    column-count: 5;
}

.col-6 {
    column-count: 6;
}

.border {
    border: 2.5px solid rgba(255, 255, 255, 0.00);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.border2 {
    border: 5px double rgb(243, 146, 0);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li.is-selected {
    color: #ffffff !important;
    border: 1px solid #0067A5 !important;
    background-color: rgba(129,190,67,1.00) !important;
    /*padding: 5px;*/
    border-radius: 50px !important;
}

li.is-clickable {
    cursor: pointer;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

    li.is-clickable b {
        margin-left: -35px; /*margin-left: -16px;*/
    }

.lime-text {
    color: #96c128 !important;
}

.katex {
}

figure {
    margin: 15px auto;
    border-width: 2px 2px 2px 2px !important;
    border-color: silver !important;
    border-style: outset !important;
    border-radius: 8px;
}

    figure img {
        border-radius: 5px 5px 0px 0px;
    }

    figure > .img-responsive {
        margin: 0px;
        min-width: auto;
        max-width: 100% !important;
    }

figcaption {
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    background: #00b0b9;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
    margin: 0 auto;
}

    /*figcaption:before {
        display: inline-block;
        content: ' ';
        width: 10px;
        height: 10px;
        background-image: url(../images/arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 6px;
    }*/

    figcaption > strong {
        font-weight: bold !important;
    }

    figcaption > span {
        font-weight: 300 !important;
    }

h5.subt {
    color: #00b1bb;
    text-align: center;
    border: 2px solid #00b1bb;
    border-radius: 25px 0px 25px 0px;
    width: 50%;
    margin-left: 25%;
    padding: 5px;
}

.eje {
    border-bottom: 1px solid #00b1bb;
    border-left: 1px solid #00b1bb;
    padding: 0px 10px;
}

    .eje h5:first-child {
        border: 1px double #b9c705;
        padding: 10px;
        width: 90px;
    }

@media (max-width: 600px) {
    table {
        font-size: 12px;
    }
}